doctype
html
    head
        meta(charset="UTF-8")
        title
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel="stylesheet", href="assets/css/bootstrap.min.css")
        link(rel="stylesheet", href="assets/css/font-awesome.css")        
        link(rel="stylesheet", href="assets/css/main.css")
        link(href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet" type="text/css")
    body
        nav.navbar.navbar-default
            div.container-fluid
                div.navbar-header
                    button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
                        span.sr-only Toggle navigation
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    a.navbar-brand(href='#') FUTURE IMPERFECT
                div#bs-example-navbar-collapse-1.collapse.navbar-collapse
                  ul.nav.navbar-nav
                    li
                      a(href='#') HOME 
                    li
                      a(href='#') ABOUT US
                    li
                      a(href='#') SERVICES
                    li
                      a(href='#') GALLERIES
                    li
                      a(href='#') CONTACT
                  ul.nav.navbar-nav.navbar-right
                    li
                      a(href='#') 
                        i.fa.fa-search
        section#header 
            div.container
                div.row
                    img(src="images/logo.jpg")
                    h1 FUTURE IMPERFECT
                    p ANOTHER FINE RESPONSIVE SITE TEMPLATE BY 
                      span HTML5 UP 
        section#title
            div.container 
                div.row
                    div.col-md-9
                        h1 MAGNA SED ADIPISCING
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    div.col-md-3
                        h4 November 1, 2015
                          br 
                          span Jane Doe 
                        div.img-avatar
                            img(src="images/avatar.jpg")
        section#article
            div.container
                div.row
                    img(src="images/pic01.jpg")
                div.row 
                    p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti, iste? Libero consequuntur rerum, maiores quis laborum doloremque dignissimos, id aperiam aspernatur, culpa sequi. Eius dignissimos natus, consectetur qui odit illo commodi iure architecto neque accusantium vitae veniam mollitia quis saepe.
                div.row
                    div.general-btn
                        h5 Continue reading
                    div.article-details
                        p General |        
                            i.fa.fa-heart 
                            p 28
                            i.fa.fa-comment 
                            p 128
        section#footer 
            div.container
                div.row
                    div.col-md-6
                        div.general-btn
                            p PREVIOUS PAGE
                              i.fa.fa-chevron-left
                    div.col-md-6
                        div.general-btn
                            p NEXT PAGE 
                              i.fa.fa-chevron-right




